.container
  %h4 Total Questions: #{@questions.count}
  %article.jumbotron.mx-auto
    - @questions.each_with_index do |ques,index|
      .questionItem{:class=>"#{'hide' if index > 0}","data-answer" => "#{ques.answer}"}
        .row
          %span.h--serif Category: #{ques.category}
        .row
          %h3= ques.question
        .row
          .choices
            .radio
              %label
                %input{:name => "optradio", :type => "radio"}/
                %font{:size => "4.5"}= ques.option1
            .radio
              %label
                %input{:name => "optradio", :type => "radio"}/
                %font{:size => "4.5"}= ques.option2
            .radio
              %label
                %input{:name => "optradio", :type => "radio"}/
                %font{:size => "4.5"}= ques.option3
            .radio
              %label
                %input{:name => "optradio", :type => "radio"}/
                %font{:size => "4.5"}= ques.option4
            .radio
              %label
                %input{:name => "optradio", :type => "radio"}/
                %font{:size => "4.5"}= ques.option5
        %br/
    .row
      .col-xs-4
        .previous
          %button.btn.previous{:disabled => "disabled", :onclick => "getPrevious()", :type => "button"} Previous
      .col-xs-4.mx-auto
        %button.btn.btn-primary{:onclick => "showAnswer()", :type => "button"} Show Answer
      .col-xs-4
        .next
          %button.btn.next{:onclick => "getNext()", :type => "button"} Next
  .row
    .col-xs-12.mx-auto
      %input.btn.btn-info{:type => "submit", :value => "Submit"}/

